mongodb-analytics/intro-to-mongodb/notebooks/.env
mongodb-analytics/intro-to-mongodb/notebooks/.ipynb_checkpoints/*
mongodb-analytics/intro-to-mongodb/notebooks/__pycache__/*
mongodb-analytics/intro-to-mongodb/mflix/env.bat
mongodb-analytics/intro-to-mongodb/mflix/mflix/.env
mongodb-analytics/intro-to-mongodb/mflix/.env
